<div class="col col-md-auto">
    <div class="card menucard" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ modal_title }}</h5>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ modal_id }}">
                Opret
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ modal_id }}">
                Rediger
            </button>
        </div>
    </div>
</div>
